# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#assignment-1
t1=tuple(range(1,11))
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
#assignment-2
length=len(t1)
print(t1[0])
print(t1[length-1])
print(t1[round(length/2)-1])

1
10
5

In [8]:
#assignment-3
for i in range(1,4):
    print(t1[i])
for i in range(length-4,length-1):
    print(t1[i])
for i in range(2,6):
    print(t1[i])

2
3
4
7
8
9
3
4
5
6

In [16]:
#assignment-4
t2=((1,2,3),(4,5,6),(7,8,9))
print(t2[1][2])

6

In [17]:
#assignment-5
t1=(1,2,3)
t2=(4,5,6)
t3=t1+t2
print(t3)

(1, 2, 3, 4, 5, 6)

In [18]:
#assignment-6
t1=(1,1,2,3,4,5)
d=t1.count(1)
a=t1.index(1)
print(d,a)

2 0

In [19]:
#assignment-7
t1=(1,2,3,4,5)
a,b,c,d,e=t1
print(a,b,c,d,e)

1 2 3 4 5

In [21]:
#assignment-8
list1=[i for i in range(1,11)]
set1=set(list1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [22]:
#assignment-9
t1=((1,2,3),(4,5,6),(7,8,9))
print(t1)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [23]:
#assignment-10
t1=(1,2,3,4,5)
l1=list(t1)
l1.append(6)
t1=tuple(l1)
print(t1)

(1, 2, 3, 4, 5, 6)

In [27]:
#assignment-11
t1=('j','a','y','a','n','t','h')
s=""
for i in t1:
    s+=i
print(s)

jayanth

In [28]:
#assignment-12
dict1={(1,2):1,(2,3):2}
print(dict1)

{(1, 2): 1, (2, 3): 2}

In [29]:
#assignment-13
t1=((1,2,3),(4,5,6),(7,8,9))
for i in t1:
    print(i)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

In [30]:
#assignment-14
t1=(1,1,1,2,3,4)
set1=set(t1)
print(set1)

{1, 2, 3, 4}

In [33]:
#assignment-15

def cal(t1):
    print(max(t1))
    print(min(t1))
    print(sum(t1))
cal(t1)

4
1
12